* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.lightsaber {
  position: relative;
}

.lightsaber input[type='checkbox'] {
  opacity: 0;
}
