* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  min-height: 100vh;
  background: #111;
}

.lightsaber {
  position: relative;
  color: #fff;
  margin-right: 30px;
}

.lightsaber input[type='checkbox'] {
  opacity: 0;
}

.lightsaber label {
  display: block;
  height: 50px;
  width: 15px;
  background: #ddd;
  border-bottom: solid 4px grey;
  border-top: solid 4px grey;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    rgb(226, 226, 226, 1) 0%,
    rgb(219, 219, 219, 1) 50%,
    rgb(209, 209, 209, 1) 51%,
    rgb(254, 254, 254, 1) 100%
  );
}

.lightsaber .laser {
  cursor: pointer;
  position: absolute;
  background: #fff;
  bottom: 66px;
  left: 3px;
  border-radius: 12px 12px 0 0;
  height: 0;
  width: 10px;
  filter: blur(1px);
  transition: 0.3s height;
}

.lightsaber input[type='checkbox']:checked ~ .laser {
  height: 250px;
}

.lightsaber--yoda .laser {
  background: rgb(135, 220, 90);
  background: linear-gradient(
    to right,
    rgb(135, 220, 90) 0%,
    rgb(254, 254, 254) 30%,
    rgb(254, 254, 254) 50%,
    rgb(254, 254, 254) 70%,
    rgb(135, 220, 90) 100%
  );
}

.lightsaber--vader .laser {
  background: rgb(229, 17, 21);
  background: linear-gradient(
    to right,
    rgba(229, 17, 21, 1) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 47%,
    rgba(254, 254, 254, 1) 71%,
    rgba(229, 17, 21, 1) 100%
  );
}

.lightsaber--windu .laser {
  background: rgb(202, 116, 221);
  background: linear-gradient(
    to right,
    rgba(202, 116, 221, 1) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 47%,
    rgba(254, 254, 254, 1) 71%,
    rgba(202, 116, 221, 1) 100%
  );
}
